*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

Body{
    background-color: #0043CF;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6% ;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.3), transparent);
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    margin: 0 30px;
    list-style: none;
    display: inline-block;
    padding: 12px 12px;
    position: relative;
}

.register-btn{
    text-decoration: none;
    background-color: #0043CF;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    border-radius: 50pc;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 35%;
    left: 10%;
}

.textbox h1{
     font-size: 120px;
     font-weight: 600;
}

.textbox p{
    padding: 0px 0px;
     font-size: 50px;
}


.search {
    position: relative;
    margin-top: 500px;
    left: 30%;
    padding: 0px 20px 20px 20px;
    border-radius: 38px;
    background: #fff;
    width: 700px;
    box-shadow: inset;
}

.search input{
    padding: 10px 250px 0px 0px;
    width: 400px;
    position: relative;
    margin-top: 20px;
    background: transparent;
    outline: none;
    border: none;
}

.categories{
    margin-top: 50px;
    position: absolute;
    background: transparent;
    border: none;
    padding: 0;
}
.engr-btn{
    text-decoration: none;
    background-color: #fff;
    padding: 20px 30px;
    position: relative;
    cursor: pointer;
    color: #0043CF;
    font-size: 20px;
    border-radius: 50pc;
    left: 150px;
    width: 200px;
}


.search .material-symbols-outlined {
    font-size: 36px;
    color: #666;
    cursor: pointer;
}

.engr-btn .material-symbols-outlined {
    font-size: 36px;
    cursor: pointer;
    color: #0043CF;
    margin-right: 8px;
    vertical-align: middle;
}